@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-device-width:375px) {
    /* profile page */
    .top-mar{
        margin-top: 50px;
    }
    .img-con{
        width: 8rem;
        height: 8rem;
    }
    .edit-icon{
        width: 1rem;
        font-size: 0.700rem;
    }
    .edit-con{
        padding: 2px 8px;
        bottom: -12px;
    }
    .profile-con{
        gap: 1.800rem;
    }
    .bottom-btn{
        bottom: 1.800rem;
        padding: 8px 10px;
    }
    .input-gap{
        gap: 8px;
    }
    .inputs{
        padding: 9px 10px;
    }


    .close-icon{
        font-size: 35px;
        top: 14px;
    }
    .photo-con{
        margin-top: 70px;
        gap: 20px;
    }
    .profile-pic{
        width: 250px;
        height: 250px;
    }
    .avtar-w{
        width: 70px;
    }
}
@media screen and (max-device-width:280px) {
    .profile-pic{
        width: 220px;
        height: 220px;
    }
    .avtar-w{
        width: 58px;
    }
   
    .inputs{
        padding: 6px 8px;
    }
    .bottom-btn{
        padding: 6px 8px;
    }
    .top-mar{
        margin-top: 30px;
    }

}
@keyframes animate-upload-popup-reverse {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .animate-upload-popup {
    animation: slideUp 0.3s ease-out;
  }

  .animate-upload-popup-reverse{
    animation: animate-upload-popup-reverse 0.5s ease-out;
  }


